html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0 auto;
    background: linear-gradient(to right, #e5eced 25%, #e5bda7 75%);
}
h1, h2, h3 {
    color: Black;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    border-top: 1px solid;
    margin-top: 20px;
}
header {
    text-align: center;
}
nav {
    background-color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
nav ul {
    width: 100%;
    list-style-type: none;
    width: fit-content;
    padding-left: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}
nav ul li a:hover {
    color: rgb(87, 84, 84);
    box-shadow: 0px 0px 5px 1px rgb(87, 84, 84);
}