html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0 auto;
    background: linear-gradient(to right, #e5eced 25%, #e5bda7 75%);
}
h1, h2, h3 {
    color: Black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 a {
    text-decoration: none;
    color: black;
}
header {
    padding: 20px;
    display: flex;
    align-items: center;
}
nav {
    font-size: 2rem;
    margin: auto;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}
nav ul li a:hover {
    color: rgb(87, 84, 84);
    box-shadow: 0px 0px 5px 1px rgb(87, 84, 84);
}
article div {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
article div p {
    text-align: left;
    max-width: 300px;
    max-height: 200px;
    margin-top: 0px;
}
#banan {
    width: 200px;
    height: 200px;
    border: 10px solid black;
}
article h2 {
    text-align: center;
}
.top {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: white;
}
.destination {
    border-bottom: 2px solid black;
}